[Unit]
Description=SearXNG container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=searxng
Image=docker.io/searxng/searxng:latest
PublishPort=33354:8080
Environment='BASE_URL=http://localhost:33354'
Environment='INSTANCE_NAME=SearXNG'
Volume=searxng:/etc/searxng

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
